<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/game/tetrisStyle.css">
    <title>테트리스</title>
</head>
<body>
<div class="wrapper">
    <div class="game-text">
        <span>게임 종료</span>
        <button> 다시 시작</button>
        <a href="/main" style="color: #74C0FC">나가기</a>
    </div>
    <div class="score">0</div>
    <div class="playground">
        <ul></ul>
    </div>
</div>
<script src = "/js/game/tetris/tetris.js" type="module"></script>
</body>
</html>