<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <title>Game Archive</title>
    <link href="/css/mainStyle.css" rel="stylesheet">
</head>
<body class="bg-gray-800 flex flex-col items-center justify-center h-screen">
<div class="w-full md:w-full lg:w-full h-screen flex flex-col">
    <div id="mainNav" class="flex justify-center items-center mb-4 bg-gray-700"
         style="padding: 20px; margin-bottom: 0;">
        <!-- GAME 버튼 -->
        <button id="gameBt"
                class="bg-gray-900 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded transition duration-500 ease-in-out"
                style="margin-left: 20px;">GAME
        </button>
        <!-- 통합검색 -->
        <input id-="seach" type="text"
               class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
               style="margin-left: 50px; margin-right: 50px;" placeholder="통합검색">
        <!-- 유저 버튼 -->
        <div id="userBtn"
             class="w-10 h-10 bg-orange-500 rounded-full hover:bg-orange-300 transition duration-500 ease-in-out"
             style="margin-right: 20px;"></div>
    </div>

    <div id="main" class="h-screen w-full flex justify-brtween">
        <div id="gameList" class="w-0 bg-gray-500 h-screen"
             style="overflow: scroll; position: relative; display: flex; flex-direction: column; align-items: center; width: 0px;">
            <div id="unlockList" class="bg-gray-400 rounded-lg"
                 style="width: 300px; height: 500px; margin-top: 20px; overflow: scroll; display: flex; flex-direction: column; align-items: center;">
                <div id="game" class="bg-blue-300 rounded-lg"
                     style="width: 250px; height: 80px; margin-top: 10px; display: flex; padding: 10px; justify-content: space-around; align-items: center;">
                    <div id="gameTitle">
                        <h1 style="color: white;"> 테트리스 </h1>
                    </div>
                    <div id="start" class="bg-green-500 rounded-lg" style="width: 50px; height: 30px;">
                        <a href="/game/tetris" style="width: 100%; height: 100%; cursor: pointer; text-align: center; line-height: 100%">시작</a>
                    </div>
                    <div id="boardByGame" class="bg-green-300 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">게시판</button>
                    </div>
                </div>
                <div id="game" class="bg-blue-300 rounded-lg"
                     style="width: 250px; height: 80px; margin-top: 10px; display: flex; padding: 10px; justify-content: space-around; align-items: center;">
                    <div id="gameTitle">
                        <h1 style="color: white;">게임 제목</h1>
                    </div>
                    <div id="start" class="bg-green-500 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">시작</button>
                    </div>
                    <div id="boardByGame" class="bg-green-300 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">게시판</button>
                    </div>
                </div>
                <div id="game" class="bg-blue-300 rounded-lg"
                     style="width: 250px; height: 80px; margin-top: 10px; display: flex; padding: 10px; justify-content: space-around; align-items: center;">
                    <div id="gameTitle">
                        <h1 style="color: white;">게임 제목</h1>
                    </div>
                    <div id="start" class="bg-green-500 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">시작</button>
                    </div>
                    <div id="boardByGame" class="bg-green-300 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">게시판</button>
                    </div>
                </div>
            </div>

            <div id="lockList" class="bg-gray-400 rounded-lg"
                 style="width: 300px; height: 300px; margin-top: 20px; overflow: scroll; filter: blur(5px); display: flex;flex-direction: column; align-items: center;">
                <div id="game" class="bg-blue-300 rounded-lg"
                     style="width: 250px; height: 80px; margin-top: 10px; display: flex; padding: 10px; justify-content: space-around; align-items: center;">
                    <div id="gameTitle">
                        <h1 style="color: white;">게임 제목</h1>
                    </div>
                    <div id="start" class="bg-green-500 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">시작</button>
                    </div>
                    <div id="boardByGame" class="bg-green-300 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">게시판</button>
                    </div>
                </div>
                <div id="game" class="bg-blue-300 rounded-lg"
                     style="width: 250px; height: 80px; margin-top: 10px; display: flex; padding: 10px; justify-content: space-around; align-items: center;">
                    <div id="gameTitle">
                        <h1 style="color: white;">게임 제목</h1>
                    </div>
                    <div id="start" class="bg-green-500 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">시작</button>
                    </div>
                    <div id="boardByGame" class="bg-green-300 rounded-lg" style="width: 50px; height: 30px;">
                        <button style="width: 100%; height: 100%;">게시판</button>
                    </div>
                </div>
            </div>

            <button id="release" class="bg-gray-400 rounded-lg"
                    style="width: 300px; height: 25px; margin-top: 30px; color: white; font-weight: bold;">Release Note
            </button>
        </div>

        <div id="board" class="bg-gray-600 flex " style="width: 700px; justify-content: center; transition: 0.5s;">

            <div id="cards" style="overflow: scroll;">
                <div id="addBoard" class="bg-gray-900"
                     style="width: 100%; height: 30px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; cursor: pointer; text-align: center; line-height: 35px;">
                    <i class="fa-solid fa-plus" style="color: #9fa4ad; font-size: 20px; font-weight: bold;"></i>
                </div>

                <div th:each="board : ${boards}" data-role="card" th:data-id="${board.id}"
                     class="bg-gray-500 rounded-lg"
                     style="width: 600px; height: 400px; margin-top: 20px; padding: 20px;">
                    <div data-role="boardNav" style="display: flex; justify-content: space-between;">
                        <div data-role="userImg" class="bg-orange-500 rounded-full"
                             th:attr="data-name=${board.user.name},data-title=${board.user.title},data-level=${board.user.level},data-image=${board.user.image}"
                             style="width: 55px; height: 55px; cursor: pointer">
                            <img th:src="${board.user.image}" alt="">
                        </div>

                        <div data-role="userName" style="margin-left: 15px; width: 50px">
                            <p style="color: #74C0FC" th:text="${board.user.name}"></p>
                        </div>

                        <div th:if="${board.user.id} == ${user.id}">
                            <a th:href="@{/board/delete(id=${board.id})}" style="margin-left: 15px; cursor: pointer;">
                                <i class="fa-solid fa-trash" style="color: #ff0001; font-size: 24px;"></i>
                            </a>
                        </div>

                        <div data-role="boardUtils"
                             style="line-height: 50px; width: 300px; height: 50px; display: flex; justify-content: flex-end;">
                            <a data-role="dm" th:attr="data-boardId=${board.id}"
                               style="margin-right: 20px; cursor: pointer;"><i
                                    class="fa-solid fa-message"
                                    style="color: #74C0FC; font-size: 24px;"></i></a>
                            <a data-role="like" style="margin-right: 20px; cursor: pointer;"><i
                                    class="fa-solid fa-heart"
                                    style="color: #ff0001; font-size: 24px;"></i></a>
                            <a data-role="sponeButton"
                               th:attr="data-name=${board.user.name}, data-userId=${board.user.id}"
                               style="cursor: pointer;">
                                <i class="fa-solid fa-money-bill" style="color: #2ad214; font-size: 24px;"></i>
                            </a>
                        </div>

                        <div data-role="regDate"
                             style="width: 150px; height: 50px; text-align: center; line-height: 50px;">
                            <p th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm')}" style="color: white;"></p>
                        </div>
                    </div>
                    <div data-role="boardContents" style="display: flex; width: 100%; height: 280px; margin-top: 20px;">
                        <div data-role="boardImg" class="rounded-lg bg-gray-400" style="flex: 1;">
                            <!--                            <img th:src="${board.image}" class="rounded-lg" alt="boardImg"-->
                            <!--                                 style="width: 100%; height: 100%;">-->
                        </div>
                        <div data-role="boardTitle" style="flex: 1; overflow: scroll;">
                            <h1 th:text="${board.title}"
                                style="color: white; margin-left: 20px; font-size: 2em; font-weight: bold;"></h1>
                            <p th:text="${board.content}"
                               style="color: white; margin-left: 20px; margin-top: 10px;"></p>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div id="userUtil" class="w-0 bg-orange-200 h-screen"
             style="overflow: scroll; display: flex; flex-direction: column; align-items: center; width: 0px;">
            <div id="util" class="bg-orange-400 rounded-lg"
                 style="width: 380px; height: 260px; margin-top: 20px; padding: 10px;">
                <div id="userInfo" style="display: flex; align-items: center; justify-content: space-around;">
                    <a data-role="userImage" class="bg-orange-600 rounded-lg"
                       style="width: 125px; height: 145px; cursor: pointer"></a>
                    <div id="nameBox" style="width: 225px; display: flex; flex-direction: column;">
                        <div id="name" style="color: white; font-size: 1.5em; font-weight: bold; text-align: center;">
                            이름 : <span th:if="${user.getName() != null}" th:text="${user.getName()}"></span><span
                                th:if="${user.getName() == null}">이름</span>
                        </div>
                        <div style="color: white; font-size: 1.5em; font-weight: bold; text-align: center; margin-top: 15px;">
                            <p th:if="${user.getTitle() != null}" th:text="${user.getTitle()}"></p>
                            <p th:if="${user.getTitle() == null}">타이틀</p>
                        </div>
                        <div id="level"
                             style="color: white; font-size: 1.5em; font-weight: bold; text-align: center; margin-top: 15px;">
                            레벨 : <span th:if="${user.getLevel() != null}" th:text="${user.getLevel()}"></span>
                        </div>
                    </div>
                </div>

                <div id="coinBox" class="bg-purple-400 rounded-lg"
                     style="width: 350px; height: 80px; margin-top: 10px; margin-left: 2px; display: flex; align-items: center; justify-content: space-around;">
                    <p id="userCoin" style="color: white;">보유코인 :
                    <p data-role="coin" th:if="${user.getCoin() != null}" th:text="${user.getCoin()}"></p>
                    <p th:if="${user.getCoin() == null}">0</p>
                    <button id="chargeBtn" class="bg-yellow-400 rounded-lg"
                            style="width: 100px; height: 50px; color: gray;">충전
                    </button>
                </div>
            </div>

            <div id="addChatRoomButton" class="bg-orange-400 rounded-lg"
                 style="width: 80%; height: 30px; display:flex; justify-content: center; align-items: center; margin-top: 20px; cursor: pointer">
                <i class="fa-solid fa-plus fa-sm" style="color: #f5be7f; font-size: 1.5em"></i>
            </div>

            <div id="chatRoomList" class="bg-orange-300 rounded-lg"
                 style="width: 380px; height: 450px; margin-top: 20px; padding: 20px; display: flex; flex-direction: column; align-items: center; overflow: scroll;">

                <a th:each="chatRoom, stat : ${chatRooms}"
                   th:href="@{/chat/chatRoom(id=${chatRoom.id})}"
                   th:class="${stat.first} ? 'bg-purple-400 rounded-lg' : 'bg-purple-400 rounded-lg mt-5'"
                   style="font-size: 1.5em;font-weight: bold; color: white; width: 350px; height: 50px; text-align: center; line-height: 50px; cursor: pointer;">
                    <p th:text="${chatRoom.name}"></p>
                </a>

            </div>

            <a href="/logout" id="logout" class="bg-purple-500 rounded-lg"
               style="width: 380px; height: 50px; border: none; margin-top: 20px; color: white;font-size: 1.2em; font-weight: bold; text-align: center; line-height: 50px">
                로그아웃
            </a>
            <a href="/user/remove" style="color: red">< 탈 퇴 ></a>
        </div>
    </div>
</div>

<!-- AddBoard 모달 -->
<div id="addBoardModal" class="modal">
    <div style="width: 500px; height: 500px"
         class="modal-content rounded-lg bg-gray-400 flex flex-col items-center justify-center space-3">
        <span class="close space-y-3" onclick="closeModal('addBoardModal')">&times;</span>
        <form action="/board/addBoard" method="post" class="space-y-4 w-4/5" enctype="multipart/form-data">
            <!-- 파일 업로드를 위해 enctype 추가 -->
            <div>
                <label for="title" class="block text-sm font-medium text-gray-700">제목</label>
                <input type="text" id="title" name="title"
                       class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <!--            <div>-->
            <!--                <label for="image" class="block text-sm font-medium text-gray-700">사진</label>-->
            <!--                <input type="file" id="image" name="image" accept="image/*"-->
            <!--                       class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">-->
            <!--            </div>-->
            <div>
                <label for="content" class="block text-sm font-medium text-gray-700">내용</label>
                <textarea id="content" name="content" rows="3"
                          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
            </div>
            <input name="user" th:value="${user.getId}" type="hidden">
            <div>
                <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    제출
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Chat(dm) 모달 -->
<div id="chatModal" class="modal">
    <div style="width: 500px; height: 500px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; align-items: center; justify-content: space-around;"
         class="modal-content rounded-lg bg-gray-400 flex flex-col items-center justify-center space-3">
        <span class="close space-y-3" onclick="closeModal('chatModal')">&times;</span>
        <div id="chatList" class="w-full p-4 bg-gray-300 rounded-lg"
             style="height: 300px; overflow: scroll;">

        </div>
        <form action="/board/addDm" method="post" class="space-y-4 w-4/5"
              style="margin-top: 10px; display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
            <div>
                <label for="message" class="block text-sm font-medium text-gray-700">메시지</label>
                <input type="text" id="message" name="message"
                       class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-center"
                       style="width: 450px; height: 25px;">
            </div>
            <!-- 보드 ID 입력 필드 -->
            <input type="hidden" id="boardId" name="boardId">
            <input type="hidden" name="userName" th:value="${user.name}">
            <div>
                <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        style="margin-bottom: 30px">
                    보내기
                </button>
            </div>
        </form>
    </div>
</div>


<!-- 후원(sponeMadal) 모달 (상대이름, 기부금액, 후원하기) -->
<div id="sponeModal" class="modal">
    <div style="width: 500px; height: 500px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"
         class="modal-content rounded-lg bg-gray-400 flex flex-col items-center justify-center space-3">
        <span class="close space-y-3" onclick="closeModal('sponeModal')">&times;</span>
        <div class="w-full p-4 bg-gray-300 rounded-lg">
            <form action="/donate/send" method="post" class="w-full p-4 bg-gray-300 rounded-lg">
                <label for="recipient" class="block text-sm font-medium text-gray-700">상대 이름</label>
                <input type="text" id="recipient" name="recipient"
                       class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <input type="hidden" data-userId="id" name="receiver">
                <input type="hidden" name="sender" th:value="${user.id}">
                <label for="amount" class="block text-sm font-medium text-gray-700">기부 금액</label>
                <input type="number" id="amount" name="amount"
                       class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <input type="submit"
                       class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                       style="margin-top: 20px;" value="후원하기">
            </form>
        </div>
    </div>
</div>

<!-- 모달 -->
<div id="userInfoModal" class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center z-50 ">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    <div id="modalContent"
         class="modal-container bg-blue-500 w-11/12 md:max-w-md mx-auto rounded-lg shadow-lg z-50 overflow-y-auto">
        <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <span class="close" onclick="closeModal('userInfoModal')">&times;</span>
        </div>
        <div class="modal-content py-4 text-left px-6 rounded-lg">
            <div class="flex justify-center items-center pb-3 bg-orange-600 rounded-full w-24 h-24">
                <img id="userProfile" src="" alt="" class="w-24 h-24 rounded-full mx-auto">
            </div>
            <div class="my-5">
                <h2 id="userName" class="text-2xl font-bold text-center text-gray-700">유저 이름</h2>
                <p id="userTitle" class="text-center text-sm text-gray-600 mt-2">칭호</p>
                <p id="userLevel" class="text-center text-sm text-gray-600 mt-2">유저 레벨</p>
            </div>
            <div class="flex justify-end pt-2">
                <button class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
                        onclick="closeModal('userInfoModal')">Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- myInfoModal -->
<div class="modal fade" id="myInfoModal" tabindex="-1" role="dialog" aria-labelledby="myInfoModalLabel"
     aria-hidden="true">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50" onclick="closeModal('myInfoModal')"></div>
    <div
            class="modal-container bg-blue-500 w-11/12 md:max-w-md mx-auto rounded-lg shadow-lg z-50 overflow-y-auto">
        <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <span class="close" onclick="closeModal('myInfoModal')">&times;</span>
        </div>
        <div class="modal-content py-4 text-left px-6 rounded-lg">
            <form id="myInfoForm"
                  style="display:flex; flex-direction: column; align-items: center; justify-content: space-around"
                  action="/user/update" method="post">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <input type="text" class="bg-gray-200 rounded-lg"
                       style="width: 90%; height: 30px; text-align: center; line-height: 24px;  " name="loginId"
                       th:value="${user.getLoginId()}">
                <input type="text" class="bg-gray-200 rounded-lg"
                       style="width: 90%; height: 30px; text-align: center; line-height: 24px; margin-top: 20px"
                       name="password" th:value="${user.getPassword()}">
                <input type="text" class="bg-gray-200 rounded-lg"
                       style="width: 90%; height: 30px; text-align: center; line-height: 24px; margin-top: 20px"
                       name="name" th:value="${user.getName()}">
                <input type="email" name="email" class="bg-gray-200 rounded-lg"
                       style="width: 90%; height: 30px; text-align: center; line-height: 24px; margin-top: 20px"
                       th:value="${user.getEmail()}">
                <input type="text" name="phone" class="bg-gray-200 rounded-lg"
                       style="width: 90%; height: 30px; text-align: center; line-height: 24px; margin-top: 20px"
                       th:value="${user.getPhone()}">
                <input type="submit"
                       class="px-4 bg-sky-500 p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
                       value="Update" style="cursor: pointer; color: white">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="chargeModal" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel"
     aria-hidden="true">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50" onclick="closeModal('chargeModal')"></div>
    <div class="modal-container bg-blue-500 w-11/12 md:max-w-md mx-auto rounded-lg shadow-lg z-50 overflow-y-auto">
        <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <span class="close" onclick="closeModal('chargeModal')">&times;</span>
        </div>
        <div class="modal-content py-4 text-left px-6 rounded-lg">
            <form id="chargeForm"
                  style="display:flex; flex-direction: column; align-items: center; justify-content: space-around"
                  action="/user/charge" method="post">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <p data-role="coin" th:text="${user.getCoin()}"></p>
                <input type="text" name="addCoin" class="bg-gray-200 rounded-lg"
                       style="width: 90%; height: 30px; text-align: center; line-height: 24px; margin-top: 20px">
                <input type="submit" style="color: white; cursor: pointer; margin-top: 15px"
                       class="px-4 bg-sky-500 p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
                       value="Charge">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addChatRoomModal" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel"
     aria-hidden="true">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50" onclick="closeModal('addChatRoomModal')"></div>
    <div class="modal-container bg-blue-500 w-11/12 md:max-w-md mx-auto rounded-lg shadow-lg z-50 overflow-y-auto">
        <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <span class="close" onclick="closeModal('addChatRoomModal')">&times;</span>
        </div>
        <div class="modal-content py-4 text-left px-6 rounded-lg">
            <form action="/chat/createChatRoom" method="post">
                <div>
                    <label for="roomName" class="block text-sm font-medium text-gray-700">방 이름</label>
                    <input type="text" id="roomName" name="name" class="bg-gray-200 rounded-lg"
                           style="width: 90%; height: 30px; text-align: center; line-height: 24px; margin-top: 20px">
                </div>
                <input type="submit" style="color: white; cursor: pointer; margin-top: 15px"
                       class="px-4 bg-sky-500 p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2"
                       value="추가">
            </form>
        </div>
    </div>
</div>

<script src="/js/mainScript.js"></script>
</body>
</html>
